* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.basket_null {
    text-align: center;
    padding-top: 100px;


    .basket_null_h1 {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 11px;
    }

    .basket_null_p {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    .basket_null_img {
        width: 134px;
    }
}

h1 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 31px;
}

.bg-image {
    width: 143px;
    left: 224px;
    border-radius: 5px;
}

.product {
    display: flex;
    gap: 29px;
    padding: 10px;
}

.product_name {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 20px;
    padding: 16px 0 9px;
}

.price {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 9px;
}

.pices {
    width: 89px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ACACAC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 9px;
    margin-bottom: 13px;
}

.pices button {
    all: unset;
    cursor: pointer;
}

.delete {
    width: 80px;
    height: 32px;
    border-radius: 4px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 13px;
    background: #EAEAF9;
    color: #3333CC;
    border: none;
    cursor: pointer;
}

.products_basket {
    width: 100%;
    height: 100%;
    padding: 33px 20px 33px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    gap: 10px;
}

.total_price {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 23px;
}

.all_total {
    width: 418px;
    height: 265px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 30px 30px 45px;
}

.all_total p {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 16px;
}

.buy {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    background: #7000ff;
    border: none;
    color: white;
    cursor: pointer;
}

.total {
    padding-bottom: 9px;
}

.total_sale {
    padding-bottom: 39px;
}

.basket {
    display: flex;
    flex-direction: row;
    gap: 17px;
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
    height: 55px;
}

.catalog_btn {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    background: #EAEAF9;
    border: none;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 13px;
    margin-right: 25px;
    margin-left: 15px;
    color: #3333CC;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

.catalog {
    background: white;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
    z-index: 101;
}

.categ {
    z-index: 102;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.catalog.active {
    display: block;
}

.categ.active {
    display: block;
}

.active {
    transition: 0.3s;
    display: block;
}

.catalog .p {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 12px;
    color: #ACACAC;
    padding-left: 265px;
}

.catalog .categ {
    margin-left: 265px;
}

.catalog .categ p {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.catalog .categ p::after {
    content: 'Новое';
    background: #8000ff;
    color: white;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

.bottom {
    backdrop-filter: blur(34px);
    background: #000000CC;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.btn {
    width: 24px;
    height: 24px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    z-index: 1000000;
}

.header.active {
    background-color: white;
    padding: 10px 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 103;
    display: flex;
}

.header.click {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    transition: 0.3s;
}

.right img {
    width: 13px;
    height: 13px;
    top: 37px;
    left: 1296px;
    border-width: 1px;
    background-color: transparent;
}

.header input {
    width: 100%;
    height: 32px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e7e5e5;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding-inline: 15px;
    z-index: 1002;
}

.header input:focus {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e7e5e5;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding-inline: 15px;
    z-index: 1002;
}

.header input.click {
    position: relative;
    top: -25px;
}

.block {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black;
}

.block p {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.header .right {
    display: flex;
    gap: 21px;
    padding-left: 35px;
    align-items: center;
    z-index: 103;
}

.search-container {
    display: none;
    transition: 0.3s;
}

.all_search {
    width: 100%;
    position: relative;
}

.all_search.click {
    padding-top: 50px;
}

.search-dropdown {
    display: none;
    border: 1px solid #e7e5e5;
    border-top: none;
    box-shadow: 0 4px 4px rgba(54, 55, 64, .25);
    border-radius: 0 0 12px 12px;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 1;
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    z-index: 100001;
}

.search-dropdown.click {
    display: block;
}

.search-container.click {
    position: relative;
    margin: 50px auto;
    width: 100%;
    top: 15px;
    right: 0;
    display: block;
}

.background {
    display: none;
}

.background.click {
    display: block;
    transition: 0.3s;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, .3)
}

.recent-title {
    padding-inline: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.recent-title h1 {
    font-style: 24px;
    font-weight: 600;
}

.clear {
    color: #4d4f59;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    padding: 8px 12px;
    margin-right: -10px;
    border-radius: 4px;
}

.clear:hover {
    background-color: #e6e4e4;
    transition: 0.3s;
}

.recent-searches {
    list-style: none;
    padding: 0;
    margin: 0;
}

.searched_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 40px;
    align-items: center;
    transition: 0.1s;
    padding-inline: 20px;
    cursor: pointer;
}

.searched_block:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recent-searches img {
    width: 15px;
    height: 15px;
}

.left_li {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.remove {
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
}

.searched_block:hover {
    background-color: #e6e4e4;
    transition: 0.1s;
}

.search_left_yes {
    position: absolute;
    top: 10px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
    z-index: 100001;
}

.searched {
    display: none;
    transition: 0.3s;
}

.searched {
    border: 1px solid #e7e5e5;
    padding-top: 10px;
    display: block;
    transition: 0.3s;
    margin: 10px;
    border-radius: 17px;
    margin-bottom: 15px;
}

.recommended {
    margin-top: 15px;
}

.recommended p {
    font-weight: bold;
    margin-bottom: 10px;
}

.recommended-items {
    display: flex;
    gap: 10px;
}

.recommended-items img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
    height: 55px;
}

.catalog_btn {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    background: #EAEAF9;
    border: none;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 13px;
    margin-right: 25px;
    margin-left: 15px;
    color: #3333CC;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

.catalog {
    background: white;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
    z-index: 101;
}

.categ {
    z-index: 102;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.catalog.active {
    display: block;
}

.categ.active {
    display: block;
}

.active {
    transition: 0.3s;
    display: block;
}

.catalog .p {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 12px;
    color: #ACACAC;
    padding-left: 265px;
}

.catalog .categ {
    margin-left: 265px;
}

.catalog .categ p {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.catalog .categ p::after {
    content: 'Новое';
    background: #8000ff;
    color: white;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

.bottom {
    backdrop-filter: blur(34px);
    background: #000000CC;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.btn {
    width: 24px;
    height: 24px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    z-index: 1000000;
}

.header.active {
    background-color: white;
    padding: 10px 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 103;
    display: flex;
}

.header.click {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100001;
    transition: 0.3s;
}

.right img {
    width: 13px;
    height: 13px;
    top: 37px;
    left: 1296px;
    border-width: 1px;
    background-color: transparent;
}

.header input {
    width: 100%;
    height: 32px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e7e5e5;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding-inline: 15px;
    z-index: 1002;
}

.header input:focus {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    display: block;
    border-radius: 4px;
    border: 1px solid #e7e5e5;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding-inline: 15px;
    z-index: 1002;
}

.header input.click {
    position: relative;
    top: -25px;
}

.block {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black;
}

.block p {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.header .right {
    display: flex;
    gap: 21px;
    padding-left: 35px;
    align-items: center;
    z-index: 103;
}

.search-container {
    display: none;
    transition: 0.3s;
}

.all_search {
    width: 100%;
    position: relative;
}

.search-container.click {
    position: relative;
    margin: 50px auto;
    width: 100%;
    top: 15px;
    right: 0;
    display: block;
}

.background {
    display: none;
}

.background.click {
    display: block;
    transition: 0.3s;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, .3)
}

.recent-title {
    padding-inline: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.recent-title h1 {
    font-style: 24px;
    font-weight: 600;
}

.clear {
    color: #4d4f59;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    padding: 8px 12px;
    margin-right: -10px;
    border-radius: 4px;
}

.clear:hover {
    background-color: #e6e4e4;
    transition: 0.3s;
}

.recent-searches {
    list-style: none;
    padding: 0;
    margin: 0;
}

.searched_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 40px;
    align-items: center;
    transition: 0.1s;
    padding-inline: 20px;
    cursor: pointer;
}

.searched_block:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recent-searches img {
    width: 15px;
    height: 15px;
}

.left_li {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.remove {
    color: #aaa;
    cursor: pointer;
    font-size: 14px;
}

.searched_block:hover {
    background-color: #e6e4e4;
    transition: 0.1s;
}

.search_left_yes {
    position: absolute;
    top: 10px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
    z-index: 100001;
}

.searched {
    display: none;
    transition: 0.3s;
}

.searched {
    border: 1px solid #e7e5e5;
    padding-top: 10px;
    display: block;
    transition: 0.3s;
    margin: 10px;
    border-radius: 17px;
    margin-bottom: 15px;
}

.recommended {
    margin-top: 15px;
}

.recommended p {
    font-weight: bold;
    margin-bottom: 10px;
}

.recommended-items {
    display: flex;
    gap: 10px;
}

.recommended-items img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .basket {
        flex-direction: column;
    }

    .all_total {
        width: 100%;
        text-align: center;
    }
}